* {
    cursor: default;
    /* max-width: 100%; */
}

html {
    height: 100%;
}

body {
    font-family: 'Cambria', Georgia, serif;
    background: #fff;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
}

a,
.btn {
    text-decoration: none;
    cursor: pointer;
}

nav {
    background: #eee;
    color: #000;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    box-shadow: 0 0 10px #ccc;
}

.right {
    float: right;
}

.left {
    float: left;
}

h1 {
    text-transform: uppercase;
    font-size: 15pt;
    margin: 0;
    padding: 15px;
    color: #cfcfcf;
    text-align: center;
}

content {
    height: 100%;
    padding-top: 60px;
    position: relative;
    z-index: 7;
    background: #eee;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul {
    padding: 0 10px;
}

nav ul li {
    display: inline-block;
}

nav a {
    border-radius: 10px;
    background: #e0e0e0;
    font-size: 13pt;
    display: inline-block;
    padding: 10px 15px;
    margin: 8px;
    color: #000;
}

nav a:hover {
    background: #d9d9d9;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}

form {
    width: 400px;
    margin: 0 auto;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    outline: none;
    margin: 20px 0;
    font-size: 18pt;
    padding: 15px 0;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-bottom: 2px dashed #999;
}

input[type="submit"] {
    width: 100%;
    outline: none;
    margin: 10px 0;
    font-size: 18pt;
    box-sizing: border-box;
    display: block;
    padding: 15px 0;
    border: none;
    background: #fff;
    color: #e40a6f;
    border-radius: 500px;
    text-transform: uppercase;
    cursor: pointer;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

.snippet-container {
    width: 33.33%;
    float: left;
}

.snippet .info {
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    border-top: 1px dotted #ccc;
}

.snippet .info li {
    font-size: 13pt;
    color: #999;
    font-size: 11pt;
}

.snippet li {
    font-size: 11pt;
}

.snippet li b {
    color: #333;
}

.snippet a {
    font-size: 15pt;
    color: #e40a6f;
}

.snippet a:hover {
    text-decoration: underline;
}

.snippet {
    border-radius: 10px;
    border-bottom: 3px solid #ddd;
    background: #fff;
    margin: 10px;
    padding: 20px 25px;
    position: relative;
    z-index: 99;
}

.snippet .number {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #fff;
    font-size: 22pt;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    background: #333;
    width: 100%;
    font-size: 11pt;
    color: #ccc;
    text-align: center;
}

#editor {
    width: 100%;
    height: 100%;
}

#preview {
    height: 100%;
    width: 50%;
    float: right;
}

#preview #canvas {
    background: #fff;
    width: 100%;
    height: 100%;
}

#editor-container {
    width: 50%;
    height: 100%;
    float: left;
}

.top {
    /* height: 100%; */
    background: #e3e3e3;
    padding: 5px;
}

.top .info {
    width: 50%;
}

.controls {
    width: 50%;
}

.controls .button {
    width: 48%;
    padding: 20px;
    font-size: 13px;
    text-transform: uppercase;
    float: left;
    margin: 1%;
}

.loader {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    padding-top: 150px;
    background: rgba(50, 50, 50, .8);
    color: #fff;
    font-size: 30pt;
}

.notification {
    z-index: 10;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 20px;
    font-size: 12pt;
    color: #000;
    background: rgb(255, 217, 0);
}

.notification.error {
    background: #f08282;
}

.notification.success {
    background: greenyellow;
}
